<ion-header>

  <ion-navbar>
    <ion-title>Vandaag</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of categories">

      <button ion-item detail-none>
        <ion-avatar item-left>
          <img [src]="item.icon" />
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <p>Hoeveelheid: {{ item.amount }}/{{ item.goalAmount }}</p>
        <ion-icon name="checkmark" item-right *ngIf="item.amount >= item.goalAmount" [ngClass]="{ red: item.amount > item.maxAmount }"></ion-icon>
      </button>

      <ion-item-options side="left">
        <button ion-button color="danger" (click)="decrement(item)">Min</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="balanced" (click)="increment(item)">Plus</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
